@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alamo Corp</h1>
    <p>
    We have a cool wide range of services. Send us an email today at hello@alamocorp.com.
    </p>
</div>
